# Rule List - https://github.com/nicklockwood/SwiftFormat/blob/master/Rules.md

--disable wrapMultilineStatementBraces
--enable blankLinesBetweenImports
--enable wrapIfStatementBodies
--enable wrapGuardStatementBodies
--enable wrapIfExpressionBodies

--commas inline
--header strip
--maxwidth 120
--ranges no-space
--redundanttype inferred
--self init-only
--stripunusedargs closure-only
--wraparguments before-first
--wrapcollections before-first
--wrapparameters before-first
