# https://github.com/nicklockwood/SwiftFormat/blob/master/Rules.md

--swiftversion 5.0

--commas inline
--header strip
--redundanttype inferred
--maxwidth 120
--self init-only
--stripunusedargs closure-only
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
