# Rule List - https://github.com/nicklockwood/SwiftFormat/blob/master/Rules.md

--disable wrapMultilineStatementBraces
--enable blankLinesBetweenImports
--enable wrapIfStatementBodies
--enable wrapGuardStatementBodies
--enable wrapIfExpressionBodies
--enable organizeDeclarations

--commas inline
--header strip
--mark-categories false
--maxwidth 100
--organization-mode type
--ranges no-space
--redundanttype inferred
--self init-only
--stripunusedargs closure-only
--test-case-name-format preserve
--wraparguments before-first
--wrapcollections before-first
--wrapparameters before-first
